{% extends "orders/base.html" %}



{% block script %}

<script>
$(document).ready(function()
{ $("#regtopping1").hide();
  $("#regtopping2").hide();
  $("#regtopping3").hide();
  $("#regtopping4").hide();
  $("#regtopping5").hide();
  $("#regtopping1").prop('required',false);
  $("#regtopping2").prop('required',false);
  $("#regtopping3").prop('required',false);
  $("#regtopping4").prop('required',false);
  $("#regtopping5").prop('required',false);
  $("#sictopping1").hide();
  $("#sictopping2").hide();
  $("#sictopping3").hide();
  $("#sictopping4").hide();
  $("#sictopping5").hide();
  $("#sictopping1").prop('required',false);
  $("#sictopping2").prop('required',false);
  $("#sictopping3").prop('required',false);
  $("#sictopping4").prop('required',false);
  $("#sictopping5").prop('required',false);
  $("#subextras").hide();

  $("#regkind").change(function() {
    if ($(this).val().includes('1')) {
      $("#regtopping1").show();
      $("#regtopping2").hide();
      $("#regtopping3").hide();
      $("#regtopping4").hide();
      $("#regtopping5").hide();
      $("#regtopping1").prop('required',true);
      $("#regtopping2").prop('required',false);
      $("#regtopping3").prop('required',false);
      $("#regtopping4").prop('required',false);
      $("#regtopping5").prop('required',false);
    } else if ($(this).val().includes('2')) {
      $("#regtopping1").show();
      $("#regtopping2").show();
      $("#regtopping3").hide();
      $("#regtopping4").hide();
      $("#regtopping5").hide();
      $("#regtopping1").prop('required',true);
      $("#regtopping2").prop('required',true);
      $("#regtopping3").prop('required',false);
      $("#regtopping4").prop('required',false);
      $("#regtopping5").prop('required',false);
    } else if ($(this).val().includes('3')) {
      $("#regtopping1").show();
      $("#regtopping2").show();
      $("#regtopping3").show();
      $("#regtopping4").hide();
      $("#regtopping5").hide();
      $("#regtopping1").prop('required',true);
      $("#regtopping2").prop('required',true);
      $("#regtopping3").prop('required',true);
      $("#regtopping4").prop('required',false);
      $("#regtopping5").prop('required',false);
    } else if ($(this).val().includes('Special')) {
      $("#regtopping1").show();
      $("#regtopping2").show();
      $("#regtopping3").show();
      $("#regtopping4").show();
      $("#regtopping5").show();
      $("#regtopping1").prop('required',true);
      $("#regtopping2").prop('required',true);
      $("#regtopping3").prop('required',true);
      $("#regtopping4").prop('required',true);
      $("#regtopping5").prop('required',true);
    } else {
      $("#regtopping1").hide();
      $("#regtopping2").hide();
      $("#regtopping3").hide();
      $("#regtopping4").hide();
      $("#regtopping5").hide();
      $("#regtopping1").prop('required',false);
      $("#regtopping2").prop('required',false);
      $("#regtopping3").prop('required',false);
      $("#regtopping4").prop('required',false);
      $("#regtopping5").prop('required',false);
    }
  });

  $("#sickind").change(function() {
    if ($(this).val().includes('1')) {
      $("#sictopping1").show();
      $("#sictopping2").hide();
      $("#sictopping3").hide();
      $("#sictopping4").hide();
      $("#sictopping5").hide();
      $("#sictopping1").prop('required',true);
      $("#sictopping2").prop('required',false);
      $("#sictopping3").prop('required',false);
      $("#sictopping4").prop('required',false);
      $("#sictopping5").prop('required',false);
    } else if ($(this).val().includes('2')) {
      $("#sictopping1").show();
      $("#sictopping2").show();
      $("#sictopping3").hide();
      $("#sictopping4").hide();
      $("#sictopping5").hide();
      $("#sictopping1").prop('required',true);
      $("#sictopping2").prop('required',true);
      $("#sictopping3").prop('required',false);
      $("#sictopping4").prop('required',false);
      $("#sictopping5").prop('required',false);
    } else if ($(this).val().includes('3')) {
      $("#sictopping1").show();
      $("#sictopping2").show();
      $("#sictopping3").show();
      $("#sictopping4").hide();
      $("#sictopping5").hide();
      $("#sictopping1").prop('required',true);
      $("#sictopping2").prop('required',true);
      $("#sictopping3").prop('required',true);
      $("#sictopping4").prop('required',false);
      $("#sictopping5").prop('required',false);
     } else if ($(this).val().includes('Special')) {
      $("#sictopping1").show();
      $("#sictopping2").show();
      $("#sictopping3").show();      $("#regtopping5").hide();

      $("#sictopping4").show();
      $("#sictopping5").show();
      $("#sictopping1").prop('required',true);
      $("#sictopping2").prop('required',true);
      $("#sictopping3").prop('required',true);
      $("#sictopping4").prop('required',true);
      $("#sictopping5").prop('required',true);
   } else {
      $("#sictopping1").hide();
      $("#sictopping2").hide();
      $("#sictopping3").hide();
      $("#sictopping4").hide();
      $("#sictopping5").hide();
      $("#sictopping1").prop('required',false);
      $("#sictopping2").prop('required',false);
      $("#sictopping3").prop('required',false);
      $("#sictopping4").prop('required',false);
      $("#sictopping5").prop('required',false);
    }
  });

  // $("#dessertkind").change(function() {
  //   if ($(this).val().includes('Steak')) {
  //     $("#subextras").show();
  //   } else {
  //     $("#subextras").hide();
  //   }
  // });
});
</script>
{% endblock %}


{% block body %}
<section class="hero is-danger is-fullheight" style="background-color:  #f49030">
  <div class="hero-body">
    <div class="container">
{% if message %}
<div class="context-message">
  {{ message }}
</div>
{% endif %}


<div class="container">
  <div class="text-center mb-4">
     <h2>Recommended Items</h2>
  </div>
</div>

<div class="container mb-4">
  <div class="columns is-desktop">
    <div class="column" >
       Masala Dosa
      <img style="max-height: 280px; width: 100%;" src="https://www.cookwithmanali.com/wp-content/uploads/2020/05/Masala-Dosa-676x1024.jpg"></div>
    <div class="column">
      Mango Shake
      <img style="max-height: 280px; width: 100%;" src="https://www.myweekendkitchen.in/wp-content/uploads/2016/04/Mango-shake.jpg"></div>
    <div class="column">
      Gulab Jamun
      <img style="max-height: 280px; width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1XnP9uw647tMNZKrg4RJawk8yqlAOgzJBYA&usqp=CAU"></div>
    <div class="column">
      Cheese Pizza
      <img style="max-height: 280px; width: 100%;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/screen-shot-2019-09-05-at-11-41-30-am-1567698101.png"></div>
  </div>
</div>

 <div class="container">
    <div class="text-center mt-2">
	     <h2>Menu Items</h2>
    </div>
 </div>
<!--<table class="table-responsive">-->
     <!--<table class="table">-->
    <!--<tr>-->
 <div class="row">
      <!-- Regular Pizza -->
      <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="container">
        <form action="{% url 'additem' %}" method="post">
        {% csrf_token %}
          {% for c in regular.category %}
            {{ c }}
          <input type="hidden" value="{{ c }}" name="category" />
          {% endfor %}
          <div class="form-group mt-2">
            {% for key, values in regular.items %}
              {% if key == 'category' or key == 'price' %}
              {% elif values|length > 1 %}
            <select class="form-control mt-2" name="{{ key }}" id="reg{{ key }}" required>
              <option value="" selected disabled hidden>Choose {{ key }}</option>
              {% for v in values %}
              <option value="{{ v }}">{{ v }}</option>
              {% endfor %}
            </select>
              {% endif %}
            {% endfor %}

            {% for i in "iiiii" %}
            <select class="form-control mt-2" name="topping{{ forloop.counter }}" id="regtopping{{ forloop.counter }}">
              <option value="" selected disabled hidden>Topping {{ forloop.counter}}</option>
              {% for topping in toppings %}
              <option value="{{ topping }}">{{ topping }}</option>
              {% endfor %}
            </select>
            {% endfor %}
            <div class="row mt-2">
              <label for="regqty" class="col-2 col-form-label">Quantity</label>
            </div>
            <div class="row">
              <div class="col-sm-4">
              <input class="form-control" type="number" value="1" name="qty" id="regqty" min="1" max="50">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info">Add to Cart</button>
        </form>
      </div>
      </div>

      <!-- Italian Pizza -->
      <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="container">
        <form action="{% url 'additem' %}" method="post">
        {% csrf_token %}
          {% for c in italian.category %}
          {{c}}
          <input type="hidden" value="{{ c }}" name="category" />
          {% endfor %}
          <div class="form-group mt-2">
            {% for key, values in italian.items %}
            {% if key == 'category' or key == 'price'  %}
            {% elif values|length > 1 %}
            <select class="form-control mt-2" name="{{ key }}" id="sic{{ key }}" required>
              <option value="" selected disabled hidden>Choose {{ key }}</option>
              {% for v in values %}
              <option value="{{ v }}">{{ v }}</option>
              {% endfor %}
            </select>
            {% endif %}
            {% endfor %}
            {% for i in "iiiii" %}
            <select class="form-control mt-2" name="topping{{ forloop.counter }}" id="sictopping{{ forloop.counter }}">
              <option value="" selected disabled hidden>Item {{ forloop.counter }}</option>
              {% for topping in toppings %}
              <option value="{{ topping }}">{{ topping }}</option>
              {% endfor %}
            </select>
            {% endfor %}
            <div class="row mt-2">
              <label for="sicqty" class="col-2 col-form-label">Quantity</label>
            </div>
            <div class="row">
              <div class="col-sm-4" >
                <input class="form-control" type="number" value="1" name="qty" id="sicqty" min="1" max="50">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info">Add to Cart</button>
        </form>
      </div>
      </div>
    <!--</tr>-->
    <!--<tr>-->
            <!-- dosa -->
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="container">
            <form action="{% url 'additem' %}" method="post">
            {% csrf_token %}
              {% for c in dosa.category %}
                {{ c }}
              <input type="hidden" value="{{ c }}" name="category" />
              {% endfor %}
              <div class="form-group mt-2">
              {% for key, values in dosa.items %}
                {% if key == 'category' or key == 'price'  %}
                {% elif values|length > 1 %}
                <select class="form-control mt-2" name="{{ key }}" id="dosa{{ key }}" required>
                  <option value="" selected disabled hidden>Choose {{ key }}</option>
                  {% for v in values %}
                  <option value="{{ v }}">{{ v }}</option>
                  {% endfor %}
                </select>
                {% endif %}
              {% endfor %}
                <div class="row mt-2">
                  <label for="dosaqty" class="col-2 col-form-label">Quantity</label>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <input class="form-control" type="number" value="1" name="qty" id="dosaqty" min="1" max="50">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info">Add to Cart</button>
            </form>
          </div>
          </div>

      <!-- dessert -->
       <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
          <div class="container">
        <form action="{% url 'additem' %}" method="post">
          {% csrf_token %}
            {% for c in dessert.category %}
              {{ c }}
            <input type="hidden" value="{{ c }}" name="category" />
            {% endfor %}
            <div class="form-group mt-2">
              {% for key, values in dessert.items %}
                {% if key == 'category' or key == 'price' %}
                {% elif values|length > 1 %}
                <select class="form-control mt-2" name="{{ key }}" id="dessert{{ key }}" required>
                  <option value="" selected disabled hidden>Choose {{ key }}</option>
                {% for v in values %}
                  <option value="{{ v }}">{{ v }}</option>
                {% endfor %}
                </select>
                {% endif %}
              {% endfor %}
              <div class="row mt-2">
                <label for="dessertqty" class="col-2 col-form-label">Quantity</label>
              </div>
              <div class="row">
                <div class="col-sm-4" >
                  <input class="form-control" type="number" value="1" name="qty" id="dessertqty" min="1" max="50">
                </div>
              </div>
            </div>
          <button type="submit" class="btn btn-info">Add to Cart<Card></Card></button>
        </form>
          </div>
      </div>
 <!-- shakes -->
      <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
          <div class="container">
        <form action="{% url 'additem' %}" method="post">
        {% csrf_token %}
	        {% for c in shakes.category %}
	          {{ c }}
	        <input type="hidden" value="{{ c }}" name="category" />
	        {% endfor %}
	        <div class="form-group mt-2">
          {% for key, values in shakes.items %}
	          {% if key == 'category' or key == 'price'  %}
	          {% elif values|length > 1 %}
	          <select class="form-control mt-2" name="{{ key }}" id="shakes{{ key }}" required>
	            <option value="" selected disabled hidden>Choose {{ key }}</option>
	            {% for v in values %}
	            <option value="{{ v }}">{{ v }}</option>
              {% endfor %}
	          </select>
            {% endif %}
          {% endfor %}
            <div class="row mt-2">
  	          <label for="dosaqty" class="col-2 col-form-label">Quantity</label>
	          </div>
	          <div class="row">
  	          <div class="col-sm-4" >
	              <input class="form-control" type="number" value="1" name="qty" id="dosaqty" min="1" max="50">
  	          </div>
	          </div>
          </div>
          <button type="submit" class="btn btn-info">Add to Cart</button>
        </form>
      </div>
      </div>
    <!--</tr>-->
    <!--<tr>-->
   <!-- idli -->
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
          <div class="container">
        <form action="{% url 'additem' %}" method="post">
        {% csrf_token %}
	        {% for c in idli.category %}
	        {{ c }}
	        <input type="hidden" value="{{ c }}" name="category" />
	        {% endfor %}
	        <div class="form-group mt-2">
          {% for key, values in idli.items %}
	          {% if key == 'category' or key == 'price' %}
	          {% elif values|length > 1 %}
	          <select class="form-control mt-2" name="{{ key }}" id="idli{{ key }}" required>
	            <option value="" selected disabled hidden>Choose {{ key }}</option>
	            {% for v in values %}
	            <option value="{{ v }}">{{ v }}</option>
              {% endfor %}
	          </select>
            {% endif %}
          {% endfor %}
	          <div class="row mt-2">
  	          <label for="idliqty" class="col-2 col-form-label">Quantity</label>
	          </div>
	          <div class="row">
              <div class="col-sm-4">
	              <input class="form-control" type="number" value="1" name="qty" id="idliqty" min="1" max="50">
  	          </div>
	          </div>
          </div>
          <button type="submit" class="btn btn-info">Add to Cart</button>
        </form>
      </div>
      </div>

 </div>
</div>
</div>
</section>
  <!--</tr>-->

<!--</table>-->
<!--</table>  -->
{% endblock %}
